section.exampleSection
  h2.exampleHeader Control
  
  h3 Buttons
  
  div.examplePanel
    div.btnGroup
      button.btnDefault button
      button.btnPrimary button
      button.btnStrip button
    
    div.btnLargeGroup
      button.btnDefault Large button
      button.btnPrimary Large button
      button.btnStrip Large button

  h3 Input
  
  div.examplePanel
    h5 Default style
    
    div.defaultStyleInputGroup
      input(type='email' placeholder='E-mail')
      input(type='password' placeholder='password')
      br
      textarea(placeholder='Write something...')
      br
      select
        option Option1
        option Option2
        option Option3
    
    h5 Strip style
    
    div.stripStyleInputGroup
      input(type='email' placeholder='E-mail')
      input(type='password' placeholder='password')

  h3 Alert panel

  div.examplePanel
    p.alertInfo Some information
    p.alertSuccess Success!!
    p.alertError Error!!
