@import '../node_modules/nib'
@import './reset'

@import './mixins/*'
@import './vars'

body
  font-size 14px
  font-family 'Lato'
  line-height 1.6
  color textColor
a
  color brandColor
code
  font-family monospace
