// Basic
textColor = #4D4D4D
bgColor = white
borderColor = #E8E8E8
fontSize = 14px

inactiveColor = lighten(textColor, 45%)

brandColor = #2BAC8F
brandBorderColor = brandColor

marginBottom = 15px

// Typography
markedCodeBgColor = #F6F6F6

// Control
controlFontSize = 12px

btnColor = #888
btnBorderColor = #888
btnHighlightenColor = darken(btnColor, 45%)

btnPrimaryColor = brandColor
btnPrimaryBorderColor = brandBorderColor
btnPrimaryHighlightenColor = darken(brandColor, 20%)

// Alert
successBgColor = #E0F0D9
successTextColor = #3E753F
errorBgColor = #F2DEDE
errorTextColor = #A64444
infoBgColor = #D9EDF7
infoTextColor = #34708E
