alertSuccess()
  background-color successBgColor
  color successTextColor

alertError()
  background-color errorBgColor
  color errorTextColor

alertInfo()
  background-color infoBgColor
  color infoTextColor
