// Style
btnDefault()
  border-style solid
  border-width 1px
  font-size controlFontSize
  border-color btnBorderColor
  background-color transparent
  color btnColor
  transition 0.1s
  text-decoration none
  &:hover, &:focus
    border-color btnHighlightenColor
    color btnHighlightenColor
  &:active, .active
    border-color btnPrimaryColor
    background-color btnPrimaryBorderColor
    color bgColor
  &:disabled, &.disabled
    opacity 0.6
  &:focus
    outline none

btnPrimary()
  border-style solid
  border-width 1px
  font-size controlFontSize
  border-color btnPrimaryBorderColor
  background-color transparent
  color btnPrimaryColor
  transition 0.1s
  text-decoration none
  &:hover, &:focus
    border-color btnPrimaryHighlightenColor
    color btnPrimaryHighlightenColor
  &:active, .active
    background-color btnPrimaryColor
    color bgColor
  &:disabled, &.disabled
    opacity 0.6
  &:focus
    outline none

btnStrip()
  border none
  font-size controlFontSize
  background-color transparent
  color btnColor
  transition 0.1s
  text-decoration none
  &:hover, &:focus
    color btnHighlightenColor
  &:active, .active
    color btnPrimaryColor
  &:disabled, &.disabled
    opacity 0.6
  &:focus
    outline none

// Sizing
btnLg()
  display inline-block
  border-radius 5px
  height 44px
  line-height 44px
  padding 0 15px
btn()
  display inline-block
  border-radius 5px
  height 33px
  line-height 33px
  padding 0 10px
