iptDefault()
  height 33px
  border-radius 5px
  border solid 1px borderColor
  background-color bgColor
  padding 5px
  font-size controlFontSize
  transition 0.1s
  &:focus
    outline none
    border-color brandBorderColor
iptStrip()
  height 33px
  border-width 0 0 1px
  border-style solid
  border-color borderColor
  background-color transparent
  font-size controlFontSize
  transition 0.1s
  &:focus
    outline none
    border-color brandBorderColor
